In [2]:
import pandas as pd
#import data from CSV extracted from Cassandra after Pyspark Process
Data = pd.read_csv('C:\\Users\\santi\\Downloads\\Data.csv')
Data

          date   score_V
0   2009-04-06  0.116971
1   2009-04-07  0.135128
2   2009-04-08       NaN
3   2009-04-09       NaN
4   2009-04-10       NaN
..         ...       ...
76  2009-06-21 -0.006375
77  2009-06-22 -0.030599
78  2009-06-23 -0.024182
79  2009-06-24 -0.012015
80  2009-06-25 -0.024322

[81 rows x 2 columns]